body{
    background-color: #1c1c1c;
}

div.main{
    width: 850px;
    height: 1000px;

    margin: 0 auto;
    margin-top: 25px;

    border-radius: 30px 0 30px 0;

    background-color: #dddddd;
}

/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

.sidebar{
    position: fixed;
    left: 400px;
    top: 0;
    height: auto;
    width: 78px;
    /* background: #3f3f3f; */
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
  left: calc(400px - (250px - 78px));
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;

  display: flex;
  text-align: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar .logo-details #btn:hover{
  background-color: tomato;
}

.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  right: calc(100% + 15px);
  z-index: 3;
  /* background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover{
  background: #fff;
  color: #11101d;
}

.sidebar li.bx-logout a{
  margin-top: 200px;
  background: #3c0f0f;
}
.sidebar li.bx-logout a:hover{
  background: #f05050;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #fff;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.sidebar li svg.icon {
    width: 50px;
    height: 50px;
    fill: #dddddd;
}
.sidebar li:hover svg.icon{
    fill: #000;
}

.background-pattern {
    position: absolute;
    top: 0;
    right: 0;

    width: 1000px;
    height: 100%;

    z-index: -100;
    background-repeat: repeat;
    background-image: url("../resources/background-pattern/pattern-base.svg");
    background-size: 15%;
}

.background-pattern div{
    width: 1000px;
    height: 100%;

    background: transparent;
	background-image: linear-gradient(to left, #00000000, #1c1c1c);
}

/* hamburger */
.bx-menu label,
.bx-menu-alt-right label,
.bx-menu label:before,
.bx-menu-alt-right label:before,
.bx-menu label:after,
.bx-menu-alt-right label:after{
  content:"";

  width: 50%;
  height: 8%;
  border-radius: 5px;

  background:#fff;
  cursor: pointer;

  -webkit-transition: 0.5s;
  transition: 0.5s;

  margin: auto;
}
.bx-menu label:before,
.bx-menu-alt-right label:before{
  position: absolute;

  -webkit-transform: translateY(-200%) translateX(-50%);
  transform: translateY(-200%) translateX(-50%);
}
.bx-menu label:after,
.bx-menu-alt-right label:after{
  position: absolute;

  -webkit-transform: translateY(200%) translateX(-50%);
  transform: translateY(200%) translateX(-50%);
}

.bx-menu-alt-right label {
  width: 0;
}
.bx-menu-alt-right label:before {
  -webkit-transform: translateY(0) translateX(-50%) rotate(45deg);
  transform: translateY(0) translateX(-50%) rotate(45deg);
}
.bx-menu-alt-right label:after {
  -webkit-transform: translateY(0) translateX(-50%) rotate(-45deg);
  transform: translateY(0) translateX(-50%) rotate(-45deg);
}

